#datasource
spring:
  profiles:
    active: dev
  mvc:
    static-path-pattern: static/**
    view:
      prefix: /templates
  devtools:
    restart:
      enabled: true
      exclude: data/**
  resources:
    static-locations: classpath:/static/,classpath:/templates/
mybatis-plus:
  mapper-locations: classpath:/mapper/*Mapper.xml
  type-aliases-package: com.mlz.entity


logging:
  file: /runtime/log/mlz.log
  level:
    com:
      mlz:
        mapper: debug
    org:
      springframework:
        security: info

server:
  servlet:
    context-path: /
