<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlz.mapper.OperationLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mlz.entity.OperationLog">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="log_type" property="logType" />
        <result column="log_name" property="logName" />
        <result column="class_name" property="className" />
        <result column="method" property="method" />
        <result column="updata_front" property="updataFront" />
        <result column="updata_after" property="updataAfter" />
        <result column="message" property="message" />
        <result column="succeed" property="succeed" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="deleted" property="deleted" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, log_type, log_name, class_name, method, updata_front, updata_after, message, succeed, createtime, updatetime, deleted
    </sql>

</mapper>
