
.orderProductList .fixed-table-container{
    height: 400px!important;
}

.order_view-p{
    border: 1px solid #cccccc;
    padding: 8px;
}
.i-checks label::before{
    display:none;
}
.user_provinces select{
    display: inline-block;
    width:150px;
}