<%layout("/templates/common/_container.html"){ %>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>数据报告</h5> <span class="label label-primary">K+</span>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="index.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="index.html#">选项1</a>
                            </li>
                            <li><a href="index.html#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div>

                        <div class="pull-right text-right">

                            <span class="bar_dashboard">5,3,9,6,5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7,3,2,1,0,9,5,6,8,3,2,1</span>
                            <br/>
                            <small class="font-bold">&yen; 20 054.43</small>
                        </div>
                        <h4>广东省销售数据
                            <br/>
                            <small class="m-r"><a href="graph_flot.html"> 查看所有数据</a> </small>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>最新动态</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="index.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="index.html#">选项1</a>
                            </li>
                            <li><a href="index.html#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content no-padding">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p><a class="text-info" href="index.html#">#感谢有你#</a> 感谢你们一路的相伴，未来也请让我为你们撑腰，我们会更好</p>
                            <small class="block text-muted"><i class="fa fa-clock-o"></i> 1分钟前</small>
                        </li>
                        <li class="list-group-item">
                            <p><a class="text-info" href="index.html#">@颜文字君</a> 女生身高×1.09后，就是最适合你的男生身高；相反，男生是÷1.09就可以了..小伙伴们可以试着算下..【图是我的..(*/ω＼*)</p>
                            <div class="text-center m">
                                <span id="sparkline8"></span>
                            </div>
                            <small class="block text-muted"><i class="fa fa-clock-o"></i> 2小时前</small>
                        </li>

                        <li class="list-group-item">
                            <p><a class="text-info" href="index.html#">#发型师#</a> 刚才剪发，顾客在看这个视频，妈蛋，这舞姿太销魂了，笑得手颤抖。。。</p>
                            <small class="block text-muted"><i class="fa fa-clock-o"></i> 1分钟前</small>
                        </li>
                        <li class="list-group-item">
                            <p><a class="text-info" href="index.html#">#一年级#</a> ——#陈氏父子# cut：“他是我的陈爸爸”[心]“我叫陈思成，陈老师的陈” [心]“不再见就是，你也好，爸爸也好，妈妈也好，都永远不要说再见</p>
                            <small class="block text-muted"><i class="fa fa-clock-o"></i> 2分钟前</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>