<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit"/><!-- 让360浏览器默认选择webkit内核 -->

    <!-- 全局css -->
    <link href="${ctxPath}/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="${ctxPath}/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="${ctxPath}/css/animate.min.css" rel="stylesheet">
    <link href="${ctxPath}/css/style.min.css?v=4.0.0" rel="stylesheet">


    <!-- Data Tables -->
    <link href="${ctxPath}/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="${ctxPath}/css/common.css" rel="stylesheet">

    <!-- 全局js -->
    <script src="${ctxPath}/js/jquery.min.js?v=2.1.4"></script>
    <script src="${ctxPath}/js/bootstrap.min.js?v=3.3.5"></script>

    <!-- DataTable  -->
    <script src="${ctxPath}/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="${ctxPath}/js/plugins/dataTables/dataTables.bootstrap.js"></script>
</head>
<!--  中间大白块  子页面公共部分  -->
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    ${layoutContent}
</div>
</body>
</html>
